{%extends 'base.html'%}
{% load bootstrap4 %}
{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>neighbourhood</title>
    {{form.media}}

    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}
</head>
{% block content %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <p style="color: black">{{brushs_item.post}}</p>
                <img src="{{brushs_item.image.url}}" alt="" class="img-fluid">
            </div>
            <div class="card-body">
                    <h3 class="comments">Comments:</h3>
                    {% if comments %}
                    {% for comment in comments %}
                            {{comment.comment}}
                            <footer class="blockquote-footer" style="color:white;">
                                <cite title="Source Title" style="color:black">said -{{comment.postername}}</cite>
                            </footer>
                            {% endfor %}
                    </div>
                    
                    {% else %}
                    <p>No comments found</p>
                    {% endif %}
            </div>
            <div class="card-footer">
                    <form action="/hoods/new/comment/{{brush.id}}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
            
                        {% bootstrap_form form %}
                        <input type="submit" class="btn btn-primary" value="Post">
                    </form>
            </div>
        </div>
    <div class="col-md-4"></div>
    </div>
<!-- <div class="card-footer">
    {% if comments %}
    {% for comment in comments %}
    <h3 class="comments">Comments:</h3>
            {{comment.comment}}
            <footer class="blockquote-footer" style="color:white;">
                <cite title="Source Title" style="color:black">said -{{comment.postername}}</cite>
            </footer>
        </div>
    {% endfor %}
    {% else %}
    <p>No comments found</p>
    {% endif %} -->
    <!-- <div style="text-align:center; background-color:rgb(10, 10, 10);" class="card-image"></div>
    <div class="card-footer">
        <form action="/hoods/new/comment/{{brush.id}}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {% bootstrap_form form %}
            <input type="submit" class="btn btn-primary" value="Post">
        </form>

    </div> -->
{% endblock %}